body {
    font-family: Helvetica;

    margin: 55px;

    ul{
        list-style-type: none;
    }
}

.categories-block {
    padding-top: 35px;
}

.content {
    margin: 100px;

    &--centered {
        text-align: center;
    }

    &__description {
        color: #999;
    }


}


p {
    font-size: 25px;
}


body {
    background: #ecf0f1;
}

img {
    margin: 3em;
}

.name-title {
    font-family: Lato;
    font-size: 55px;
}

.category-name {
    font-family: Lato;
    font-size: 35px;

}

