body {
    font-family: Helvetica;
}

a li{
    text-decoration: none;
}

.content {
    margin: 100px;

    &--centered {
        text-align: center;
    }

    &__description {
        color: #999;
    }


}



body {
    background: yellowgreen;
}

img {
    margin: 3em;
}

.name-title {
    font-family: Lato;
    font-size: 25px;
}